<%- include('partials/header') -%>

  <h1 class="text-4xl mb-4">Password change successful</h1>

  <p class="py-3">
    You can now use your new password to sign in.
  </p>
  
<%- include('partials/footer') -%>
